/* Panel verde */
.panel-verde {
    background-color: #67BC2A;
    color: #fff;
    padding-top: 0;
    flex-flow: row wrap;

    position: relative;
    width: 11.5em;
    height: 3em;
    line-height: 1.1;
    float: left;
    margin-bottom: -5.3em;
    top: -1.5em;
    text-align: center;
    padding-top: 1em;
    margin-left: 0px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.342);
    border-radius: 3px;
}

.panel-verde:hover {
    background-color: rgb(74, 74, 74);
    transition: 0.7s;
    cursor: pointer;
}


/* Panel azul */
.panel-azul {
    background-color: #2bb2bb;
    color: #fff;
    padding-top: 0;
    flex-flow: row wrap;

    position: relative;
    width: 11.5em;
    height: 3em;
    line-height: 1.1;
    float: left;
    margin-bottom: -5.3em;
    top: -1.5em;
    text-align: center;
    padding-top: 1em;
    margin-left: 0px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.342);
    border-radius: 3px;
}

.panel-azul:hover {
    background-color: rgb(74, 74, 74);
    transition: 0.7s;
    cursor: pointer;
}

.nombre_panel {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0;
}


.title1 {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    padding: 50px;
    background-color: #cacaca;
}

.texto {
    padding: 40px;
    background-color: #f9f6ef;
    text-align: justify;
}

.texto:hover {
    cursor: pointer;
}