.sidee {
    width: 100%;
    height: 650px;
    object-fit: cover;
    opacity: 1;
}

.general {
    margin: auto;
    width: 90%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.gif_izquierda {
    display: flex;

    float: left;
    width: 44%;
    padding: 20px;
    border-radius: 30px;
}

.gif_derecha {
    display: flex;

    float: right;
    width: 580px;
    height: 350px;
    padding: 20px;
    border-radius: 30px;
}


.letra_link {
    color: white;
}

.letra_link:hover {
    color: white;
}


.color_button {
    background-color: white;
    border-color: rgb(127, 255, 227);
    border-radius: 0%;
    margin-bottom: 20px;
}

.second_button {
    background-color: white;
    border-color: rgb(127, 255, 227);
    margin: 50px;
}

.ponte_a_prueba {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    background-color: rgba(255, 99, 71, 0.712);
}

.tamaño_img {
    width: 480px;
    height: 280px;
}

.tamaño_img:hover {
    cursor: pointer;
    padding: 4px;
    transition: 1s;
    border-radius: 15px;

}


.panel_recetas {
    color: #fff;
    flex-flow: row wrap;

    position: relative;
    width: 100%;
    height: 3em;
    line-height: 1.1;
    float: left;
    margin-bottom: -5.3em;
    top: -3em;
    padding: 5px;
    padding-top: 1em;
}

.panel_recetas:hover {
    background-color: #fcfcfc2c;
    transition: 0.7s;
    cursor: pointer;
}

.nombre_panel_recetas {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0;
}

.efecto-gradient {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.753) 80%);
}


.border {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.418);
}

.sugerencias {
    display: flex;
    float: right;
    width: 27%;
}

.seccion_categorias {
    background-color: rgb(255, 255, 255);
}

.seccion_descripcion {
    margin: auto;
    width: 85%;
    background-color: rgb(255, 255, 255);
}

.texto_descripcion {
    padding: 20px;
    text-align: justify;
}

.grosor_texto {
    display: block;
    font-weight: 650;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 10px;
}

.seccion_recetas {
    margin: auto;
    width: 90%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.seccion_beneficios {
    margin: auto;
    width: 85%;
    background-color: #ffffff;
    text-align: justify;
}

.reteñir_beneficios {
    font-weight: 500;
    font-size: 20px;
}

.seccion_planes {
    margin: auto;
    width: 90%;
    background-color: #ffffff;

}

.dropdown-contenido {
    max-height: 0;
    overflow: hidden;
    transition: 1000ms ease-out;
}


.receta_img:hover {
    cursor: pointer;
}

.tamaño_video {
    padding: 70px;
}

.minimo_box {
    min-height: 590px;
    background-color: #f9f6ef;
}

.dropdown-personal:hover .dropdown-contenido {
    background-color: #bebebe7c;
    font-size: 15px;
    max-height: 500px;
    padding: 20px;
    text-align: justify;
}

.container-md {
    background-color: rgb(255, 255, 255);
}

.imagen_principal {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.color_button {
    background-color: #2bb2bb;
    border-color: rgb(127, 255, 227);
    border-radius: 0%;
    margin-bottom: 20px;
    padding: 15px;
    transition: 0.7s;
}

.second_button {
    background-color: #2bb2bb;
    border-color: rgb(127, 255, 227);
    transition: 0.7s;
    margin: 50px;
}

.titulo_tabla {
    background-color: rgb(214, 214, 214);
}

.letra_tabla {
    font-size: 15px;
    cursor: pointer;
}

.contenedor_tips {
    text-align: justify;
    width: 100%;
    font-size: 15px;
    margin: 20px;
}

.tip1 {
    background-color: #aaaaaa4b;
    padding: 20px;
    border-radius: 50px;
    border: solid rgb(255, 255, 255);
    font-weight: 450;
}

.tip1:hover {
    transition: 1s;
    background-color: #2bb1bb70;
    cursor: pointer;
}