@import 'responsivep.css';




.bg3 {
    background-color: rgb(238, 246, 246);
}

.box {



    padding-bottom: 5px;
    overflow: hidden;

}

.imagen {

    object-fit: cover;
}

.relativo {
    position: relative;
}

.absoluto {
    position: absolute;
}

.posicion2 {
    bottom: 15px;
    right: 0;
}

.tamaño {
    font-size: 15px;
}

.bg {
    background-color: rgb(103, 188, 42);
}

.bg2 {
    background-color: rgba(43, 178, 187, 0.335);
}