@media (min-width: 576px) {

    .nav-brand {
        color: var(--blanco);
    }


    .box-card {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }





}


@media (min-width: 768px) {


    .nav-brand {
        color: var(--blanco);
    }

    .box-card {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .tarjeta {
        width: 100%;
        height: 94.59vh;
    }



    .tittle-line {
        max-width: 350px;
    }

    .footer-texte-size {
        font-size: 1.258rem;
    }

}


@media (min-width: 992px) {
    .nav-brand {
        color: var(--negro);
    }

    .menu--personalizado {
        top: 50%;
        height: 0;
    }


    .nav-brand {
        color: var(--negro);
    }


    .menu--personalizado {
        top: 50%;
        height: 0;
    }

    .animation-line {
        position: relative;

    }

    .animation-line:before {
        position: absolute;
        bottom: 0;
        content: "";
        /* display: block; */
        width: 0;
        height: 6px;
        background-color: #eeeeee;
        transition: all 300ms;
    }

    .animation-line:hover:before {
        width: 100%;
    }

    .central:before {
        left: 50%;
    }

    .central:before {
        right: 50%;
    }

    .central:hover:before {
        left: 0;
    }

    .central:before:before {
        right: 0;
    }

    /****** fin animacion **********/

    .content-mp {
        max-width: 100%;

    }



    .tarjeta {
        width: 100%;
        height: 450px;
    }

    .box-botton {
        background-color: var(--verde);
        width: 35%;
        height: 40px;
        position: absolute;
        top: 75%;
        right: 0;
        box-shadow: -12px -2px 84px 0px rgba(0, 0, 0, 0.48);
    }

    .footer-texte-size {

        font-size: 2rem;

        font-size: 0.7rem;

    }

}

@media (min-width: 1200px) {}