@media (min-width: 320px) {



    .size {
        font-size: 15px;

    }



    .posicion {

        bottom: 0;
        left: 60px
    }

    .box {
        max-height: 198px;
    }

}


@media (min-width: 576px) {
    .size {
        font-size: 20px;

    }



    .posicion {

        left: 100px;
    }

    .box {
        max-height: 198px;
    }

}





@media (min-width: 768px) {
    .size {
        font-size: 24px;

    }

    .objet-position {
        object-position: 0 -50px;
    }

    .posicion {

        left: 190px;
    }

    .box {
        max-height: 250px;
    }

}


@media (min-width: 992px) {
    .size {
        font-size: 30px;

    }

    .objet-position {
        object-position: 0 -70px;
    }

    .posicion {

        left: 300px;
    }

    .box {

        max-height: 360px;
    }

}


@media (min-width: 1200px) {
    .objet-position {
        object-position: 0 -70px;
    }

    .posicion {
        left: 400px
    }

    .box {

        max-height: 360px;
    }



}




/*

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...