:root {
    --azul: #2bb2bb;
    --blanco: #eeeeee;
    --negro: #272727;
    --verde: #67BC2A;
}

.nav--color {
    background-color: var(--azul);
}

/********* estilos atom **********/
/* aluz aguamarina */
.aguamarina {
    background-color: var(--azul);
}

.d-inbl {
    display: inline-block;
}

.color-semiwhite {
    color: var(--blanco);
}

.content-mp {
    max-width: 100%;
}

.tittle-line {
    position: relative;
    top: -10px;
    max-width: 100%;
}

.footer-texte-size {
    font-size: 0.75rem;
}

/*********************************/
/******** seccion main principal*****/
.box-card {
    position: relative;
    width: 100%;
    /* height: ; */
}

.tarjeta {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-botton {
    background-color: var(--verde);
    width: 25%;

    height: 40px;
    position: absolute;
    /* top: 150px; */
    top: 75%;
    right: 0;
    /* -webkit-box-shadow: -12px -2px 84px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -12px -2px 84px 0px rgba(0, 0, 0, 0.48); */
    box-shadow: -12px -2px 84px 0px rgba(0, 0, 0, 0.48);
}

.botton-vermas {
    text-decoration: none;
}

/*************************************/
.footer-main {
    background-color: var(--negro);
}

.icon-text {
    width: 100%;
}

.icon-facebook {
    font-size: 3.5rem;
}

.icon-twitter {
    font-size: 3.5rem;
}

.icon-instagram {
    font-size: 3.6rem;
}

.icon-youtube {
    font-size: 3.5rem;
}

hr {
    background-color: var(--blanco);
    border-color: var(--blanco);
    height: 2PX;
    width: 80%;
    padding: 0;
}


/***************************************/