/* Styles */
html {
    scroll-behavior: smooth;
}

.img-tips {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.espacio__secciones {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card__image {

    height: 250px;
    background-color: rgb(43, 43, 85);
    margin-bottom: 1.5rem;
    /* estado inicial */
    transform: scale(1);
    transition: transform 0.7s;
}

.card__image:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.box {
    padding: 0 5px 0 5px;
}