html {
    scroll-behavior: smooth;
}

.espacio__secciones {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    min-height: 560px;
    background-color: #f9f6ef;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.418);
}

.color_sugerencias {
    background-color: rgb(235, 235, 235);
}

.letra_sugerencias {
    font-weight: 700;
    font-size: 1.3em;
}

.card__image {
    height: 220px;
    background-color: rgb(0, 163, 204);
    margin-bottom: 1.5rem;
    transform: scale(1);
    transition: transform 0.7s;
}

.card__image:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.box {
    padding: 0 5px 0 5px;
}

    {
    overflow: hidden;
}

.tipss {
    margin: auto;
    width: 90%;
}